/* Animación de salto */
@keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .jump {
    animation: jump 1s infinite;
  }
  
  /* Animación de giro */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 2s linear infinite;
  }
  
  /* Animación de desvanecimiento */
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade {
    animation: fade 1s ease-in-out;
  }
  
  /* Animación de escalado */
  @keyframes scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .scale {
    animation: scale 1s infinite;
  }
  
  /* Animación de deslizamiento hacia la derecha */
  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-right {
    animation: slide-right 1s ease-out;
  }
  
  /* Animación de deslizamiento hacia la izquierda */
  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-left {
    animation: slide-left 1s ease-out;
  }
  
  /* Animación de deslizamiento hacia arriba */
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .slide-up {
    animation: slide-up 1s ease-out;
  }
  
  /* Animación de deslizamiento hacia abajo */
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .slide-down {
    animation: slide-down 1s ease-out;
  }
  
  /* Animación de parpadeo */
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  

.textosAmarillo{
    color: #ffef16;
}
.textosAzul{
    color: #008bf8;
}
.textosRojos{
    color: #D72638;
}

.colorAmarillo{
      background-color: #ffef16;
}
.colorAzul{
      background-color: #008bf8;
}
.colorRojo{
      background-color: #D72638;
}
.colorBlanco{
  background-color: #F3E8EE;
}
.colorGris{
  background-color: #8c8c8c;
}
.colorNegro{
  background-color: #00184e;
}

/* Teléfonos medianos (de 577px a 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .titulo {
  font-size: 1.5rem;
  }
  .descripcion {
    font-size: 1rem;
  }
}


.titulo{
  font-family: 'Freckle Face', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.descripcion{
  font-family: 'Rock Salt', cursive;
  font-size: 1.2rem;
}

.jumbo {
  background-image: url('./assets/Img/Fondos/inicioPagina.svg');
  background-attachment: fixed;
  background-size: cover;
}

.bienvenidaFondo{
    background-image: url('./assets/Img/Fondos/colombiaFondo.svg');
    background-attachment: fixed;
  background-size: cover;

}